# Supabase Configuration Template
# Copy these to your .env.local file

NEXT_PUBLIC_SUPABASE_URL=https://bhmudmvmhvzcybsqbqbd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobXVkbXZtaHZ6Y3lic3FicWJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NDMwMDksImV4cCI6MjA5MjAxOTAwOX0.PxWMfP3tG6iYeJqvX92Ch_xaByK4by33_Ks-1vlfQXM
NEXT_PUBLIC_API_URL=api=https://bhmudmvmhvzcybsqbqbd.supabase.co/rest/v1/